<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.springboot.dao.SysUserMapper" >
  <resultMap id="associationMap" type="com.test.springboot.domain.SysUser" >
    
  </resultMap>
  <sql id="map_params_where_condition_ext" >
	<if test="extConditions != null">
		<!-- 扩展条件 -->
	</if>
  </sql>
</mapper>